[submodule "submodules/Detours"]
	path = submodules/Detours
	url = https://github.com/microsoft/Detours
[submodule "submodules/fmt"]
	path = submodules/fmt
	url = https://github.com/fmtlib/fmt
[submodule "submodules/glew-cmake"]
	path = submodules/glew-cmake
	url = https://github.com/Perlmint/glew-cmake
[submodule "submodules/imgui"]
	path = submodules/imgui
	url = https://github.com/ocornut/imgui
[submodule "submodules/glfw"]
	path = submodules/glfw
	url = https://github.com/glfw/glfw
[submodule "submodules/libspng"]
	path = submodules/libspng
	url = https://github.com/randy408/libspng
[submodule "submodules/miniz"]
	path = submodules/miniz
	url = https://github.com/richgel999/miniz
[submodule "submodules/glad"]
	path = submodules/glad
	url = https://github.com/Dav1dde/glad
