[submodule "submodules/Detours"]
	path = submodules/Detours
	url = https://github.com/microsoft/Detours
[submodule "submodules/fmt"]
	path = submodules/fmt
	url = https://github.com/fmtlib/fmt
[submodule "submodules/glew-cmake"]
	path = submodules/glew-cmake
	url = https://github.com/Perlmint/glew-cmake
